<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="icon" href="https://icon-library.com/images/online-store-icon/online-store-icon-3.jpg">
    <link rel='stylesheet' href='/stylesheets/customerOrders.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="https://icon-library.com/images/online-store-icon/online-store-icon-3.jpg" width="30" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" action="/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                   id="search" name="search"
            >
            <button class="btn submitButton my-2 my-sm-0" type="submit">SEARCH</button>
        </form>
    </div>
</nav>
<div class="row container-fluid">
    <br>
</div>
<div class="row container-fluid">
    <br>
</div>
<div class="container-fluid">
    <div class="row container-fluid">
        <div class="col"></div>
        <div class="col text-center">
            <h1><%= user.first_name%>'s Orders</h1>
        </div>
        <div class="col"></div>
    </div>
    <% for(let i = 0; i < products.length; i++) { %>
        <hr class="border-grey border-1">
        <div class="row container-fluid text-center align-items-middle">
            <div class="col">
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/wicker-basket-2941950-2449147.png">
                <form method="get" action="/product">
                    <button type="submit" class="btn"><b><%= products[i].products%></b></button>
                </form>
            </div>
            <div class="col text-right">
                <h4>Status: <% if(products[i].status === 1) { %>
                        <b>Active</b>
                    <% } else { %>
                        <b>Delivered</b>
                    <% } %>
                </h4>
            </div>
            <div class="col text-left">
                <form>
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    <% } %>
    <hr class="border-grey border-1">
</div>
</body>
</html>
